.item-container {
    display: flex;
    padding: 6px
}

.item-image-wrapper {
    width: 150px;
    text-align: center;
}

.item-image {
    max-height: 150px;
    max-width: 150px;
    padding: 6px;
}

.item-name {
    flex-grow: 1;
    padding: 6px;
}

.item-price {
    font-weight: 600;
    text-align: right;
}

.btn-delete {
    background: none;
    border: none;
    padding: 0px;
    color: red;
    font-size: 12px;
}

    .btn-delete:hover {
        text-decoration: underline;
    }
