@page "/"
@page "/{categoryurl}"
@inject ICategoryService CategoryService;
@inject IProductService ProductService
@inject ISyncLocalStorageService LocalStorage
@inject IStatsService StatsService 

@if (category != null)
{
    <h1>Welcome to the @category.Name section!</h1>
    <ProductList />
}
else
{
    <AuthorizeView>
        <NotAuthorized>
            <h1>Welcome to Blazing Shop!</h1>
        </NotAuthorized>
        <Authorized>
            <h1>Welcome back, @LocalStorage.GetItemAsString("username")!</h1>
        </Authorized>
    </AuthorizeView>
    <ProductList />
}

@code
{
    [Parameter]
    public string CategoryUrl { get; set; }

    private Category category = null;

    protected override async Task OnParametersSetAsync()
    {
        await ProductService.LoadProducts(CategoryUrl);

        if (CategoryUrl != null)
        {
            category = CategoryService.Categories.FirstOrDefault(c => c.Url.ToLower().Equals(CategoryUrl.ToLower()));
        }
        else
        {
            category = null;
        }

        await StatsService.IncrementVisits();
        await StatsService.GetVisits();
    }
}
