@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.media-img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform .2s;
}

.media-img-big {
    max-height: 500px;
    max-width: 500px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.media-img-wrapper {
    width: 200px;
    height: 200px;
    text-align: center;
}

.media-img-big-wrapper {
    width: 500px;
    height: 500px;
    text-align: center;
}

.media-img:hover {
    transform: scale(1.1);
}

.original-price {
    text-decoration: line-through;
}

.price {
    color: green;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 1023.98px) {
    .media {
        flex-direction: column;
    }

    .media-img-big-wrapper, .media-img-wrapper {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .media-img-big {
        max-width: 300px;
    }
}
