@inject ICategoryService CategoryService
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider  

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazing Shop</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="dropdown-divider"></li>
        @foreach (var category in CategoryService.Categories)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@category.Url">
                    <span class="oi oi-@category.Icon" aria-hidden="true"></span> @category.Name
                </NavLink>
            </li>
        }
        <li class="dropdown-divider"></li>
        <li class="nav-item px-3">
            <AuthorizeView>
                <NotAuthorized>
                    <NavLink class="nav-link" href="login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Login
                    </NavLink>
                </NotAuthorized>
                <Authorized>
                    <a class="nav-link" @onclick="Logout" style="cursor: pointer">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                    </a>
                </Authorized>
            </AuthorizeView>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        await CategoryService.LoadCategories();
    }

    private async void Logout()
    {
        await  LocalStorage.RemoveItemAsync("username");
        await AuthStateProvider.GetAuthenticationStateAsync();
    }
}
